@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@font-face {
    font-family: "mojFont";
    src: url('font/SaraPavkovic.ttf');
}


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --plava: #003b6f;
    --bijela: #ffffff;
    --naglasak: #ece5d4;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    color: #fff;
    background-image: url('slike/pozadina.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*
    background: radial-gradient(var(--plava), var(--bijela));
    */
}

/* header */

header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
}

nav {
    height: 10vh;
    border-bottom: 1px solid #fff;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.meni {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-weight: 500;
}

.meni li {
    float: left;
    font-size: 14pt;
    transition: transform 0.5s;
}

.meni li a {
    text-decoration: none;
}

.meni li:hover {
    transform: scale(1.1);
}

/* CodePen URL: https://codepen.io/geoffgraham/pen/NWXZWEa */

.hover-1 {
    background: linear-gradient(var(--naglasak) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
}

.hover-1:hover {
    --p: 100%;
    padding: 10px;
    color: var(--plava);
}

/* početna */

.pocetak {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-family: "mojFont", sans-serif;
    font-size: 80pt;
    text-align: center;
    text-shadow: #00000033 1px 1px 5px;
}

h2 {
    font-family: "Playfair", serif;
    text-align: center;
    width: 70vw;
    font-size: 40pt;
    text-shadow: #00000033 1px 1px 5px;
    margin-top: 20vh;
}

h3 {
    font-family: "Playfair", serif;
    text-align: center;
    font-size: 25pt;
    text-shadow: #00000016 1px 1px 5px;
    margin-bottom: 20px;
}

p {
    font-size: 15pt;
    font-weight: 500;
    text-shadow: #00000016 1px 1px 5px;
    line-height: 30px;
}

a {
    color: #fff;
}

.pozdrav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
    width: 70vw;
}

.pocetak h2 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 30pt;
}

.poveznica:hover {
    padding: 2px;
    text-decoration: none;
}

.pocetak span {
    font-style: italic;
}

/* o meni */

.o_meni {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15vh;
}

.tekst_o_meni {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.o_meni h2 {
    text-align: left;
}

.o_meni p {
    width: 70vw;
}

/* filmovi */

.filmovi {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    width: 70vw;
    padding-bottom: 15vh;
}

.lista li {
    margin-left: 20px;
    font-size: 15pt;
    font-weight: 500;
    text-shadow: #00000016 1px 1px 5px;
    margin-bottom: 10px;
    transition: transform 0.5s, text-shadow 0.5s;
    cursor: default;
}

.lista li:hover {
    transform: translateX(15px);
    text-shadow: var(--plava) 2px 2px 10px;
}

.lista h3 {
    text-align: left;
}

/* slike */

.slike {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}

.slike img {
    height: 30vh;
    box-shadow: #00000016 3px 3px 5px;
    transition: transform 0.5s;
}

.slike img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.youtube {
    width: 35vw;
    height: 35vh;
}

/* vjezbe */

.vjezbe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10vh;
    padding-bottom: 15vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.vjezbe h2 {
    width: 70vw;
    text-align: left;
}

.vjezbe h3 {
    width: 70vw;
    text-align: left;
    font-size: 30pt;
    margin-bottom: 0;
}

.red {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.radovi {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

.rad {
    margin: 5px;
    width: 250px;
}

.rad img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.rad img:hover {
    transform: scale(1.1);
}

.rad video {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.rad video:hover {
    transform: scale(1.1);
}

.opis {
    margin-top: 10px;
    text-align: left;
    font-size: 12pt;
    line-height: 17pt;
}

/* video */

.video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.video h2 {
    margin-top: 0;
    width: auto;
    text-align: left;
    margin-bottom: 30px;
}

.video_opis {
    width: 45vw;
}

.video video {
    width: 20vw;
}